In [20]:
#!pip install missingno
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
import missingno as msno

In [21]:
train = pd.read_csv("train_fix1.csv")
test = pd.read_csv("test_fix1.csv")

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6999 non-null   int64
 1   Warehouse_block      6999 non-null   object
 2   Mode_of_Shipment     6999 non-null   object
 3   Customer_care_calls  5423 non-null   float64
 4   Customer_rating      6999 non-null   int64
 5   Cost_of_the_Product  6999 non-null   int64
 6   Prior_purchases      6049 non-null   float64
 7   Product_importance   6999 non-null   object
 8   Discount_offered     3468 non-null   float64
 9   Weight_in_gms        6999 non-null   object
 10  Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 601.6+ KB

In [23]:
train['Discount_offered'].describe()

count    3468.000000
mean       13.269031
std        16.070188
min         1.000000
25%         4.000000
50%         7.000000
75%        10.000000
max        65.000000
Name: Discount_offered, dtype: float64

In [17]:
# '?' 값을 NaN으로 대체
train['Discount_offered'].replace('?', np.nan, inplace=True)

# 75% 분위수 계산
q75 = train['Discount_offered'].quantile(0.75)

# '?' 값을 75% 분위수 값으로 변경
train['Discount_offered'].fillna(q75, inplace=True)

In [30]:
train['Discount_offered'].describe()

count    6999.000000
mean       11.619803
std        11.428752
min         1.000000
25%         7.000000
50%        10.000000
75%        10.000000
max        65.000000
Name: Discount_offered, dtype: float64

In [31]:
train['Discount_offered'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6999 entries, 0 to 6998
Series name: Discount_offered
Non-Null Count  Dtype
--------------  -----
6999 non-null   float64
dtypes: float64(1)
memory usage: 54.8 KB

In [28]:
(train['Discount_offered'] == '?').sum()

0

In [29]:
# 결측치를 75%는 10으로, 25%는 11로 채우기
q75 = train['Discount_offered'].quantile(0.75)
q25 = train['Discount_offered'].quantile(0.25)

train['Discount_offered'].fillna(10, limit=int(0.75 * len(train)), inplace=True)
train['Discount_offered'].fillna(11, limit=int(0.25 * len(train)), inplace=True)